.dropdown-style{
    border: 0px;
    background-color: transparent;
    font-size: 14px;
}

.main-container {
    width: 80%;
    margin: 0% auto;
}

.flt {
    float: right;
}

#hr {
    height:2px;
    border-width:2px;
    color:gray;
    background-color:gray;
}

.table {
    font-size: 14px;
}

.unbold {
    font-size: 12px;
}